.topbar {
  // height: 3.2rem;
  // background-color: rgba(31, 86, 115, 1);
  background-image: linear-gradient(rgba(31, 86, 115, 1), rgba(42, 30, 92, 1));
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 15px 30px 45px 7.5px;

  .brand {
    width: 150px;
    margin-left: 1rem;
    font-family: "Pacifico", cursive;
    font-size: x-large;
    cursor: pointer;
    color: white;
    &:hover {
      // opacity: 0.25;
      background-color: rgb(172, 97, 134);
      -webkit-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      transition: background-color 0.5s ease-out;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
        0 10px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .notLoggedInMenu {
    .dropMenus {
      display: inline-flex;
      margin-right: 8px;
      margin-bottom: 4px;

      .menu {
        text-align: -webkit-center;
        margin-left: 1rem;
        font-family: "Pacifico", cursive;
        font-size: x-large;
        cursor: pointer;
        color: white;

        // &:hover {
        //   opacity: 0.25;
        // }
        .clientDropMenuTrigger {
          width: 80px;
          &:hover {
            background-color: rgb(172, 97, 134);
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
              0 10px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }

        .accountantDropMenuTrigger {
          width: 150px;
          margin-right: 1rem;
          &:hover {
            background-color: rgb(172, 97, 134);
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
              0 10px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }

        .auth {
          width: 80px;
          font-family: "Cormorant Garamond", serif;
          font-size: large;
          &:hover {
            background-color: rgba(159, 154, 164, 1);
            transition: background-color 0.5s ease-out;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
              0 10px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }

        &--coma {
          margin-left: 1rem;
          font-family: "Pacifico", cursive;
          font-size: x-large;
          color: white;
        }
      }
    }
    .hamburgerMenu {
      display: none;
    }
  }

  .loggedInMenu {
    font-family: "Pacifico", cursive;
    font-family: "Pacifico", cursive;
    font-size: x-large;
    cursor: pointer;
    color: white;
    margin-right: 8px;
    margin-bottom: 4px;
    span:hover {
      opacity: 0.25;
    }
  }
  @media (max-width: 600px) {
    .dropMenus {
      display: none;
      .menu {
        display: none;
        &--coma {
          display: none;
        }
      }
    }
    .hamburgerMenu {
      padding: 7px;
      font-family: "Pacifico", cursive;
      display: block !important;
      margin-right: 20px;
      margin-top: 15px;
      cursor: pointer;
      color: white;
      font-size: large;

      .hamburgerMenuTrigger {
        &:hover {
          background-color: rgb(172, 97, 134);
          -webkit-transition: background-color 0.5s ease-out;
          -moz-transition: background-color 0.5s ease-out;
          -o-transition: background-color 0.5s ease-out;
          transition: background-color 0.5s ease-out;
          border-radius: 10px 10px 10px 10px;
          box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
            0 10px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .accountant {
        padding: 2px;
        background-color: rgba(10, 15, 13, 1);
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 8px;
      }
      .auth {
        font-family: "Cormorant Garamond", serif;
        font-size: medium;
        &:hover {
          background-color: rgba(159, 154, 164, 1);
          transition: background-color 0.5s ease-out;
          border-radius: 10px 10px 10px 10px;
          box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
            0 10px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      // &:hover {
      //   opacity: 0.25;
      // }
      .hamburgerbar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }
    }
  }
}



.form {
  width: 100%;
}
.modal > .form {
  font-size: 12px;

}
.modal > .form > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: x-large;
  text-align: center;
  padding: 5px;
  color: black;
  background: rgba(154, 209, 212, 1);
  padding: 1px;
}
// .modal > .content {
//   width: 100%;
//   padding: 10px 5px;
//   background-image: linear-gradient(rgb(75, 131, 75), rgb(82, 75, 75));
  
// }
.modal > .form > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;

  .action {
    font-family: "Cormorant Garamond", serif;
    font-size: medium;
    color: white;
    background-color: rgba(31, 86, 115, 1);
    border-radius: 10px 10px 10px 10px;
    
    &:hover {
      background-color: rgb(172, 97, 134);
      transition: background-color 0.5s ease-out;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
        0 10px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
.modal > .form > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  // background: #080808;
  border-radius: 18px;
  border: 1px solid #cfcece;
  &:hover {
    background-color: rgb(199, 52, 52);
    transition: background-color 0.2s ease-out;
  }

}
