.topbar {
  height: 3.2rem;
  background-color: rgb(38, 65, 35);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 15px 30px 45px 7.5px;

  .brand {
    margin-left: 1rem;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    cursor: pointer;
    color: white;

    &:hover {
      opacity: 0.25;
   }

   &--coma {
    margin-left: 1rem;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: white;
   }
  }

  .notLoggedInMenu {
    .dropMenus {
      margin-right: 10px;
    }
    .hamburgerMenu {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .dropMenus {
      display: none;
    }
    .hamburgerMenu {
      display: block !important;
      margin-right: 20px;
      div {
        width: 35px;
        height: 5px;
        background-color:white;
        margin: 6px 0;
      }
    }
  }
  
}