.topbar {
  // height: 3.2rem;
  background-color: rgb(38, 65, 35);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 15px 30px 45px 7.5px;

  .brand {
    margin-left: 1rem;
    font-family: "Pacifico", cursive;
    font-size: x-large;
    cursor: pointer;
    color: white;

    &:hover {
      opacity: 0.25;
    }
  }

  .notLoggedInMenu {
    .dropMenus {
      display: inline-flex;
      margin-right: 8px;
      margin-bottom: 4px;

      .menu {
        margin-left: 1rem;
        font-family: "Pacifico", cursive;
        font-size: x-large;
        cursor: pointer;
        color: white;

        // &:hover {
        //   opacity: 0.25;
        // }

        .auth {
          font-family: "Cormorant Garamond", serif;
          font-size: large;
          &:hover {
            opacity: 0.25;
          }
        }

        &--coma {
          margin-left: 1rem;
          font-family: "Pacifico", cursive;
          font-size: x-large;
          color: white;
        }
      }
    }
    .hamburgerMenu {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .dropMenus {
      display: none;
      .menu {
        display: none;
        &--coma {
          display: none;
        }
      }
    }
    .hamburgerMenu {
      font-family: "Pacifico", cursive;
      display: block !important;
      margin-right: 20px;
      margin-top: 15px;
      cursor: pointer;
      color: white;
      // font-family: "Cormorant Garamond", serif;
      font-size: large;
      .accountant {
        border: 2px solid black;
        border-radius: 5px;
        background-color: rgb(75, 131, 75);
      
      }
      .auth {
        font-family: "Cormorant Garamond", serif;
        font-size: medium;
        &:hover {
          opacity: 0.25;
        }
      }

      // &:hover {
      //   opacity: 0.25;
      // }
      .hamburgerbar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }
    }
  }
}
