.App {
  text-align: center;
  // background-color: rgb(220,220,220);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./background.png");
}
